@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Inicio";
}


<div class="jumbotron">
    <h1>Bienvenido a su Administración</h1>
    <p class="lead">
        Administración es una aplicación que le permitirá organizar sus locales y empleados,</br>
        bajo una sólida base de datos y una interfaz intuitiva.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Personas</h2>
        <p>Encuentre a la persona que busca y obtenga todos su datos.</p>
    </div>
    <div class="col-md-4">
        <h2>Casas</h2>
        <p>Registro de casas, con sus respectivos propietarios, dirección y comentarios</p>
    </div>
    <div class="col-md-4">
        <h2>Restaurantes</h2>
        <p>Todos los restaurantes disponibles, con acceso a sus managers y empleados</p>
            </div>
</div>